 .overflow-scroll {
     overflow-y: scroll !important;
 }

 .min-w-250px {
     min-width: 250px;
 }

 .icon {
    width: 70px;
    height: 50px;
    margin-right: -1.4em;
 }

 .cursor-pointer {
     cursor: pointer;
 }

 .margin-left-0_2em {
     margin-left: 0.2em !important;
 }