{
    "extends": [
        "react-app",
        "airbnb",
        "plugin:jsx-a11y/recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": [
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "import/prefer-default-export": "off",
        "react/prop-types": "off",
        "jsx-a11y/label-has-for": "off",
        "react/destructuring-assignment": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-static-element-interactions": "off"
    }
}