span.size-small {
    display: inline-block;
    width: 18em;
}

img.size-small{
    display:block;
    width: 18em;
    height: 100% !important;
}

span.size-medium {
    display: inline-block;
    width: 22.5em;
}
 
img.size-medium{
    display:block;
  width: 22.5em;
   height: 15em;
}
 
img.size-large{
   display:block;
   width: 30em;
   height: 20em;
}

span.size-medium {
    display: inline-block;
    width: 30em;
}

span.size-custom {
    display: inline-block;
    width: 100px;
    font-size: 0.7em;
}

img.size-custom {
    display: block;
    width: 150px;
    height: 100px;
}
.font-small {
    font-size: 1em !important;
}

.margin-padding-small {
    margin-top: 0.1em;
    padding: 0em;
    margin-bottom: 0.1em;
}

.font-responsive {
    font-size: 16px;
}

@media (max-width: 480px) {
    .font-responsive {
        font-size: 9px;
    }
}